.activities__title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #333;
    margin-top: 60px;
    padding-bottom: 40px;
}
.home-activity-color{
    max-width: 100% !important;
    background-color: #008B85;
}
.activities {
    background-color: #008B85;
    padding: 60px 20px;
    color: #fff;
    min-height: 412px;
    margin-bottom: 30px;
}

.activities__wrapper {
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.activities__left {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    margin-bottom: 20px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 16px;
        color: #e6f7f7;
        max-width: 480px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
}

.activities__right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
    justify-content: space-between;
    min-width: 380px;
    padding: 20px;
    border-radius: 10px;
}

.stat-box {
    flex: 1 1 48%;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4a70b2;
    margin: 10px 0;
}

.stat-box.green {
    background-color: #00e3c2;
}

.stat-box.purple {
    background-color: #4a70b2;
}

.stat-box.blue {
    background-color: #3aabff;
}

.stat-box.orange {
    background-color: #f7931e;
}

.stat-box span {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.stat-box strong {
    font-size: 24px;
}

/* For screens smaller than 1160px */
@media (max-width: 1280px) {
    .activities__wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 10px;
    }

    .activities__left {
        margin-bottom: 20px;
        min-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .activities__right {
        gap: 20px;
        width: 100%;
    }

    .stat-box {
        width: 100%;
        height: auto;
        padding: 15px;
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .activities__wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 5px;
    }

    .activities__left {
        margin-bottom: 10px;
        min-width: 100%;
    }

    .activities__right {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .stat-box {
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 14px;
    }
}

/* For very small screens */
@media (max-width: 400px) {
    .activities__wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .activities__left {
        margin-bottom: 5px;
        min-width: 100%;
        padding: 5px;
    }

    .activities__right {
        gap: 5px;
        width: 100%;
        min-width: 100%;
    }

    .stat-box {
        width: 100%;
        height: auto;
        padding: 5px;
        font-size: 12px;
        min-width: 100%;
    }
}