.about-second-container {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 20px;
}

.about-second-all {
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: #F0F0F0;
    padding-top: 30px;
    position: relative;
    min-height: 800px;
    width: 100%;
}

.about-second-left {
    padding-top: 50px;
    text-align: left;
}

.about-second-left h2 {
    font-weight: 700;
    font-size: 48px;
    color: #000000B2;
    margin-bottom: 20px;
}

.about-second-left p {
    font-size: 14px;
    font-weight: 400;
    max-width: 522px;
    color: #000000B2;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-second-right {
    max-height: 400px;
    display: flex;
    justify-content: center;
}

.about-second-right img {
    width: 100%;
    min-height: 600px;
}

.about-section-bottom {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 5;
    min-height: 240px;
    border-radius: 10px;
}

.about-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-item .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.about-item .item-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.icon img {
    width: 50px;
    height: 50px;
}


@media only screen and (max-width: 1000px) {
    .about-second-left {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
        }
    }
}


@media only screen and (max-width: 870px) {
    .about-second-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: none;
    }

    .about-second-left {
        width: 100%;
        
        p{
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    .about-second-right {
        width: 100%;
        max-height: none;
    }

    .about-second-right img {
        width: 100%;
        max-height: 300px !important;
    }
    .about-section-bottom {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        max-width: 90%;
        width: 100%;
        background-color: white;
        padding: 20px;
        z-index: 5;
        min-height: 240px;
        border-radius: 10px;
    }
}


@media only screen and (max-width: 460px) {

    .about-item .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ADD8E6;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    
.icon img {
    width: 40px;
    height: 40px;
}

}